:root {
  --padding: 1rem;
}

* {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html {
  scrollbar-width: none;
}

body {
  background: #333;
}

.spinner-wrapper {
  width: 100%;
  height: calc(100vh - 6.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border: none;
  border-radius: 0.3rem;
  background: #555;

  animation: slide-in-from-bottom 0.5s;
}

@keyframes slide-in-from-bottom {
  from {
    transform: translateY(5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal_close-button {
  cursor: pointer;
  margin-top: 0.5rem;

  border: none;
  background: none;
}

.modal__actions-form {
  text-align: right;
}

.modal__title {
  margin: 0;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.modal_book-session {
  color: #333;
}

.main-header {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
}

.main-header__navigation-list {
  list-style: none;

  display: flex;
  gap: 1rem;
}

.main-header__navigation-link {
  padding: 0.25rem 0;
  text-decoration: none;

  position: relative;
}

.main-header__navigation-link::after {
  content: "";

  width: 0;
  height: 0.2rem;

  position: absolute;
  left: 0;
  bottom: 0;

  border-radius: 0.5rem;
  transition: 300ms;
}

.main-header__navigation-link.active::after {
  width: 100%;
  background: white;
}

.sessions {
  list-style: none;

  background: #555;

  margin: 2rem;
  padding: 1rem;

  border-radius: 0.3rem;

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.session {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session__image {
  width: 100%;
  height: 100%;

  border-radius: 0.3rem 0.3rem 0 0;
}

.session__text-container {
  width: 100%;
  padding: 1rem 0;
  background-color: #333;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 0 0 0.3rem 0.3rem;
}

.session__title {
  text-align: center;
  font-size: 1rem;

  margin: 0 1rem;
}

.session__summary {
  text-align: center;
}

.session__navigation {
  width: max-content;

  margin: 0.5rem;
  padding: 0.5rem;

  background: #555;
  border-radius: 0.3rem;

  text-decoration: none;
}

.session-page {
  margin: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-page__heading {
  width: 90%;

  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.session-page__image {
  width: 15rem;
  height: 15rem;

  border-radius: 0.3rem;
  position: relative;
}

.session-page__image::after {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  background: red;
}

.session-page__title {
  margin: 0.5rem 0;
}

.session-page__date {
  margin: 0;
  font-size: 0.8rem;
  opacity: 0.6;
}

.session-page__booking {
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;

  background: #555;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.session-page__description-wrapper {
  max-width: 90%;
  margin-top: 2rem;

  border-radius: 0.3rem;
  background: #555;
}

.session-page__description {
  margin: 0;
  padding: 1rem;
}

.input-field {
  width: 15rem;
  display: flex;
  flex-direction: column;
}

.input-field__input {
  height: 1rem;
  padding: 0.25rem;
  color: #333;
}

.input-field__label {
  opacity: 0.7;
  font-size: 0.8rem;
}

.missions {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mission {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mission__text-wrapper {
  width: 70%;
}

.mission:nth-child(even) {
  flex-direction: row-reverse;
}

.mission__image {
  width: 8rem;
  height: 8rem;

  border-radius: 50%;
}

.mission__description {
  opacity: 0.6;
}

.upcoming-sessions-btn {
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
  background: #555;
  cursor: pointer;
}

.upcoming-sessions {
  width: 20rem;
  padding: 0;
  list-style: none;
}

.upcoming-sessions__title {
  margin: 0.25rem 0;
}

.upcoming-session {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 0.5rem 0.25rem;
  background: #333;
  border-radius: 0.3rem;
}

.upcoming-session__title,
.upcoming-session__date {
  text-align: start;
  margin: 0.25rem;
}

.upcoming-session__date {
  opacity: 0.6;
}

.upcoming-session__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upcoming-session__cancel-btn {
  padding: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
