:root {
  --padding: 1rem;
}

* {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: 5rem;

  background: #333;
}

.logo-wrapper {
  width: 100%;
  height: calc(100vh - 6.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  /* display: grid; */
}
